@model ControleFinanceiro.WebSite.Models.ExpenseViewModel

@{
    ViewData["Title"] = $"Editar {ExpenseViewModel.ObjectName}";
}

<h4>Editar @ExpenseViewModel.ObjectName</h4>

<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" hidden />
            <label asp-for="Status" class="control-label my-2"></label>
            <div class="col-md-3">
                <select asp-for="Status" asp-items="@ViewBag.Status as IEnumerable<SelectListItem>" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <label asp-for="OperationDate" class="control-label my-2"></label>
            <div class="col-md-10">
                <input asp-for="OperationDate" class="form-control" />
                <span asp-validation-for="OperationDate" class="text-danger"></span>
            </div>
            <label asp-for="Description" class="control-label my-2"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <label asp-for="Amount" class="control-label my-2"></label>
            <div class="col-md-3">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <label asp-for="ParcelQuantity" class="control-label my-2"></label>
            <div class="col-md-3">
                <input asp-for="ParcelQuantity" class="form-control" />
                <span asp-validation-for="ParcelQuantity" class="text-danger"></span>
            </div>
            <label asp-for="IdPerson" class="control-label my-2"></label>
            <div class="col-md-3">
                <select asp-for="IdPerson" asp-items="@ViewBag.Persons as IEnumerable<SelectListItem>" class="form-control" />
                <span asp-validation-for="IdPerson" class="text-danger"></span>
            </div>
            <label asp-for="IdCreditCard" class="control-label my-2"></label>
            <div class="col-md-3">
                <select asp-for="IdCreditCard" asp-items="@ViewBag.CreditCards as IEnumerable<SelectListItem>" class="form-control" />
                <span asp-validation-for="IdCreditCard" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="float-end">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
