@model ControleFinanceiro.WebSite.Models.ExpenseViewModel

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<h4>ExpenseViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Test">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationDate" class="control-label"></label>
                <input asp-for="OperationDate" class="form-control" />
                <span asp-validation-for="OperationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParcelQuantity" class="control-label"></label>
                <input asp-for="ParcelQuantity" class="form-control" />
                <span asp-validation-for="ParcelQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPerson" class="control-label"></label>
                <input asp-for="IdPerson" class="form-control" />
                <span asp-validation-for="IdPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCreditCard" class="control-label"></label>
                <input asp-for="IdCreditCard" class="form-control" />
                <span asp-validation-for="IdCreditCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
